@import "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  background-color: $white-2;
  max-width: 100%;
  width: 700px;

  .heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: $primary;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
  }

  @media (max-width: 768px) {
    gap: 20px;
    padding: 20px;

    .heading {
      font-size: 18px;
    }
  }
}
